<%if(loggedIn){%>
    <p id="err"><%=err%></p>
    <p>Enter your comment below</p>
    <form action="/books/newComment" method="post" class="commentForm">
        <p id="err" class="error_feedback"></p>
        <textarea name="comment" type="text" maxlength="100"></textarea>
        <input type="hidden" name="book_id" value="<%= book._id %>">
        <button type="submit">Submit</button>
    </form>
<%}%>
<ul class="comment_section">
    <%if(book.comments==null){%>
        <p>Be the first to leave a comment</p>
    <%}else{
    book.comments.reverse().forEach(function(comment){%>
        <li id="commentElement">
            <h2>Posted by <a href="/users/<%=comment.authorid%>" id="username"><%= comment.commentAuthor%></a></h2>
            <h4 id="post_date">Posted at <%= comment.date.getHours()+":"+comment.date.getMinutes()+" on "+comment.date.getDate()+"-"+comment.date.getMonth()+"-"+comment.date.getFullYear()%></h4>
            <p><%= comment.body %></p>
        </li>
    <%});
    }%>
</ul>